


body {
    font-family: Georgia, 'Times New Roman', Times, serif;

    background-color: #f2eecb;
}

img {
    width: 400px;
    height: auto;
}

h1 {
    font-size: 50px;

    padding: 20px;

    text-align: center;
}

h3,
h4 {
    text-align: center;
}

h2 {
    font-size: 42px;
}

#enjoy {
    font-size: 45px;

    text-align: center;

    font-weight: 700;
}

