


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f2eecb;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 100px;
}

.recipe {
    width: 900px;
    margin: 30px auto;
    padding: 30px;
    border: 5px solid darkgoldenrod;

}

div img {
    width: 300px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 140px;
}

.content {
    display: inline-block;
}

div a {
    vertical-align: top;
    font-size: 30px;
    text-decoration: none;
    color: darkgoldenrod;
    font-size: 36px;
    font-weight: 700;
}

div p {
    vertical-align: top;
    width: 400px;
    font-size: 24px;
}
